@model IEnumerable<BartlomiejJagielloLab5ZadDom.Models.User>

@{
    ViewData["Title"] = "Users list";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Password)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Password)
                </td>
            </tr>
        }
    </tbody>
</table>